{% extends "books/base.html" %}

{% block content %}

<form method="get">
    <input type="text"
           name="q"
           placeholder="Пошук книги"
           value="{{ request.GET.q }}">

    <button type="submit">
        Знайти
    </button>
</form>


<h1>Список книг</h1>

<ul>

    {% for book in object_list %}

        <li>

            <h3>
                {{ book.title }}
            </h3>

            <p>
                Автор: {{ book.author }}
            </p>

            <p>
                Ціна: {{ book.price }}
            </p>


            <a href="{% url 'books:book_update' book.pk %}">
                Редагувати
            </a>


            <a href="{% url 'books:book_delete' book.pk %}">
                Видалити
            </a>


            <form action="{% url 'cart:cart_add' book.id %}" method="post">

                {% csrf_token %}

                <input type="number"
                       name="quantity"
                       value="1"
                       min="1">

                <input type="hidden"
                       name="override"
                       value="False">


                <button type="submit">
                    Додати до кошика
                </button>

            </form>


        </li>

        <hr>

    {% endfor %}

</ul>


<nav class="mt-4">

    <ul class="pagination">


        {% if page_obj.has_previous %}

            <li class="page-item">

                <a class="page-link"
                   href="?page={{ page_obj.previous_page_number }}">

                    Попередня

                </a>

            </li>

        {% endif %}



        <li class="page-item active">

            <span class="page-link">

                {{ page_obj.number }}

            </span>

        </li>



        {% if page_obj.has_next %}

            <li class="page-item">

                <a class="page-link"
                   href="?page={{ page_obj.next_page_number }}">

                    Наступна

                </a>

            </li>

        {% endif %}


    </ul>

</nav>


{% endblock %}